header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top:0.1em;
    row-gap: 50px;
}
img
{
    margin-right: auto;
}
body
{
    display: flex;
    flex-direction: column;
    background-color: #b16f24;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
}
a
{
    text-decoration: none;
    color: grey;
    font-size: 1.2em;
}
section
{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: lightgrey;
    margin: 20em;
    margin-top : 5em;
    margin-bottom: 5em;
    border-radius: 0.5em;
}
article
{
    text-align: center;
}
footer{
    margin-top: auto;
}

.case{
    width: 100px;
    height: 100px;
    /*background-color: white;*/
    text-align: center;
    border: 1px solid black;

}
table{
    background-color:white;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
}

.txt{
    background-color: lightgrey;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
}

#TitreMorp{
    text-align: center;
}

#ResetButton{
  margin-left: auto;
  margin-right:auto;
}
